@import "tailwindcss";

:root {
  --color-toska: #2ec27e;
  --color-abu: #f4f4f4;
  --color-neon: #00bcd4;
  --color-neon-dark: rgb(7, 41, 41);
}

@theme {
  --color-toska: #2ec27e;
  --color-abu: #f4f4f4;
  --color-neon: #00bcd4;
  --color-neon-dark: rgb(7, 41, 41);

  --font-neonfuture: "NeonFuture", sans-serif;
}

@font-face {
  font-family: "NeonFuture";
  src: url("/fonts/NeonFuture20Demo-L3jp3.woff2") format("woff2");
  font-weight: 400;
}

body {
  background-color: var(--color-abu);
  color: var(--color-neon-dark);
}
